@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 200;
  src: local("Source Sans Pro"), url("SourceSansPro-Light.otf") format("opentype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), url("SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro"), url("SourceSansPro-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 800;
  src: local("Source Sans Pro"), url("SourceSansPro-Bold.otf") format("opentype");
}

/*# sourceMappingURL=style.css.map */
