.tag {
  background: no-repeat;
  background-size: contain;

  &.rate {
    width: 26px;
    height: 30px;
    background-image: url(../assets/tag-rate.png);
  }

  &.age {
    width: 270px;
    height: 234px;
    background-image: url(../assets/tag-age.png);
  }

  &.ad {
    width: 36px;
    height: 24px;
    background-image: url(../assets/tag-ad.png);
  }

  &.cc {
    width: 36px;
    height: 24px;
    background-image: url(../assets/tag-cc.png);
  }

  &.hd {
    width: 42px;
    height: 22px;
    background-image: url(../assets/tag-hd.png);
  }

  &.pg-13 {
    width: 70px;
    height: 22px;
    background-image: url(../assets/tag-pg-13.png);
  }
}
