.tag {
  background-size: contain;
}
.tag.rate {
  width: 26px;
  height: 30px;
  background-image: url(../assets/tag-rate.png);
}
.tag.age {
  width: 270px;
  height: 234px;
  background-image: url(../assets/tag-age.png);
}
.tag.ad {
  width: 36px;
  height: 24px;
  background-image: url(../assets/tag-ad.png);
}
.tag.cc {
  width: 36px;
  height: 24px;
  background-image: url(../assets/tag-cc.png);
}
.tag.rate {
  width: 42px;
  height: 22px;
  background-image: url(../assets/tag-hd.png);
}

/*# sourceMappingURL=assets.css.map */
