.header-container {
  padding-top: 250px;
  padding-bottom: 65px;
  background: url(../assets/bg-header.png) top right no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
}
.header-container .side-menu-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-right: 40px;
}
.header-container .side-menu-container ul.menu {
  display: inline-block;
  margin: 0 0 60px 0;
  color: #ffffff;
  list-style: none;
}
.header-container .side-menu-container ul.menu li {
  text-align: right;
  line-height: 20px;
}
.header-container .side-menu-container ul.menu li:not(.header) {
  font-size: 20px;
  opacity: 0.35;
  margin-bottom: 15px;
  letter-spacing: -0.032em;
}
.header-container .side-menu-container ul.menu li:not(.header):last-child {
  margin-bottom: 0;
}
.header-container .side-menu-container ul.menu li.header {
  line-height: 23px;
  font-size: 23px;
  margin-bottom: 15px;
  letter-spacing: -0.022em;
}
.header-container .side-menu-container ul.menu:last-child {
  margin-bottom: 0;
}
.header-container .product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-container .product-details .meta-data {
  display: flex;
  align-items: center;
  font-family: "SF UI Text";
  font-size: 25px;
  letter-spacing: 0.01em;
}
.header-container .product-details .meta-data .tag-container {
  display: flex;
  align-items: center;
  margin-right: 12px;
}
.header-container .product-details .meta-data .tag-container.more-spaces .tag {
  margin-right: 20px;
}
.header-container .product-details .meta-data .tag-container.more-spaces .tag:last-child {
  margin-right: 0;
}
.header-container .product-details .meta-data .tag-container:last-child {
  margin-right: 0;
}
.header-container .product-details .meta-data .tag {
  margin-right: 1px;
}
.header-container .product-details .meta-data .tag.rate {
  width: 26px;
  height: 30px;
}
.header-container .product-details .meta-data .tag.age {
  width: 29px;
  height: 26px;
}
.header-container .product-details .product-description {
  font-family: "SF UI Text";
  font-size: 29px;
  font-weight: 500;
  width: 890px;
  line-height: 36px;
  letter-spacing: -0.032em;
  margin: 44px 0 60px 0;
}
.header-container .product-details .product-options {
  display: flex;
}
.header-container .product-details .product-options .option {
  margin: 0 12px;
}
.header-container .product-details .product-options .option .box {
  width: 142px;
  height: 80px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.35);
  transform-origin: 50% 100%;
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container .product-details .product-options .option .box.price {
  font-family: "SF UI Text";
  font-size: 31px;
  letter-spacing: -0.063em;
}
.header-container .product-details .product-options .option .box .icon {
  width: 68px;
  height: 50px;
}
.header-container .product-details .product-options .option .box .icon.tv {
  background-image: url(../assets/tv-icon.png);
}
.header-container .product-details .product-options .option .box .icon.plus {
  background-image: url(../assets/plus-icon.png);
}
.header-container .product-details .product-options .option .box .icon.dots {
  background-image: url(../assets/dots-icon.png);
}
.header-container .product-details .product-options .option .title {
  margin: 4px 0 0 0;
  text-align: center;
  font-family: "SF UI Text";
  font-size: 23px;
  font-weight: 500;
  letter-spacing: -0.022em;
  opacity: 0.35;
  transition: opacity 0.3s;
}
.header-container .product-details .product-options .option:hover {
  cursor: pointer;
}
.header-container .product-details .product-options .option:hover .box {
  transform: scale(1.1);
  background: white;
  color: rgba(0, 0, 0, 0.4);
}
.header-container .product-details .product-options .option:hover .box .icon {
  filter: invert(100%);
  opacity: 0.4;
}
.header-container .product-details .product-options .option:hover .title {
  opacity: 1;
}

/*# sourceMappingURL=header.css.map */
