@import "../lib/fonts/style";

.header-container {
  padding-top: 250px;
  padding-bottom: 65px;
  background: url(../assets/bg-header.png) top right no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1024px){
    padding-top: 50px;
  }

  .side-menu-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-right: 40px;

    @media (max-width: 1024px){
      display: none;
    }

    ul {
      &.menu {
        display: inline-block;
        margin: 0 0 60px 0;
        color: #ffffff;
        list-style: none;

        li {
          text-align: right;
          line-height: 20px;

          &:not(.header){
            font-size: 20px;
            opacity: 0.35;
            margin-bottom: 15px;
            letter-spacing: -0.032em;

            &:last-child {
              margin-bottom: 0;
            }
          }

          &.header {
            line-height: 23px;
            font-size: 23px;
            margin-bottom: 15px;
            letter-spacing: -0.022em;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .meta-data {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      @include sf-ui-text;
      font-size: 25px;
      letter-spacing: 0.010em;

      .tag-container {
        display: flex;
        align-items: center;
        margin-right: 12px;

        &.more-spaces {
          .tag {
            margin-right: 20px;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .tag {
        margin-right: 1px;

        &.rate {
          width: 26px;
          height: 30px;
        }

        &.age {
          width: 29px;
          height: 26px;
        }
      }
    }

    .movie-description {
      max-width: 890px;
      margin: 44px 0 60px 0;
    }

    .product-options {
      display: flex;
      flex-wrap: wrap;

      .option {
        margin: 0 12px;

        .box {
          width: 142px;
          height: 80px;
          border-radius: 5px;
          background: rgba(255, 255, 255, 0.35);
          transform-origin: 50% 100%;
          transition: transform .3s;
          display: flex;
          align-items: center;
          justify-content: center;

          &.price {
            @include sf-ui-text;
            font-size: 31px;
            letter-spacing: -0.063em;
          }

          .icon {
            width: 68px;
            height: 50px;

            &.tv {
              background-image: url(../assets/tv-icon.png);
            }

            &.plus {
              background-image: url(../assets/plus-icon.png);
            }

            &.dots {
              background-image: url(../assets/dots-icon.png);
            }
          }
        }

        .title {
          margin: 4px 0 0 0;
          text-align: center;
          @include sf-ui-text;
          font-size: 23px;
          font-weight: 500;
          letter-spacing: -0.022em;
          opacity: 0.35;
          transition: opacity .3s;
        }

        &:hover {
          cursor: pointer;

          .box {
            transform: scale(1.1);
            background: rgba(255, 255, 255, 1);
            color: rgba(0, 0, 0, 0.4);

            .icon {
              filter: invert(100%);
              opacity: 0.4;
            }
          }

          .title {
            opacity: 1;
          }
        }
      }
    }

    @media (max-width: 1024px){
      .meta-data, .product-options {
        justify-content: center;
      }

      .meta-data {
        .tag-container {
          margin: 10px 0
        }
      }

      .product-options {
        .option {
          margin-bottom: 10px;
        }
      }

      .movie-description {
        text-align: center;
      }
    }
  }
}
