@import "../lib/fonts/style";

.related-container {
  padding-top: 14px;
  padding-bottom: 70px;
  position: relative;
  z-index: 0;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:before {
    background: rgba(124, 124, 124, 0.8) url(../assets/bg-related.jpg);
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
  }

  &:after {
    z-index: -1;
    background: rgba(124, 124, 124, 0.32);
  }

  h5, h4, h3 {
    @include source-sans-pro;
    color: #ffffff;
    opacity: 0.4;
    margin: 12px 0;
  }

  h3 {
    font-size: 48px;
    line-height: 48px;
  }

  h4 {
    font-size: 38px;
    line-height: 66px;
    letter-spacing: 0.007em;
  }

  h5 {
    font-size: 29px;
    line-height: 36px;
    letter-spacing: -0.032em;
  }

  .films {
    display: flex;

    @media (max-width: 1024px) {
      overflow: auto;
    }

    img {
      width: 148px;
      height: 222px;
      margin-right: 51px;
      position: relative;
    }
  }

  .movies-container {
    margin-top: 50px;

    .movies {
      display: flex;

      @media (max-width: 1024px) {
        overflow: auto;
      }

      .movie {
        display: flex;
        flex-direction: column;

        .movie-details {
          display: flex;

          img {
            height: 308px;
          }

          .movie-description, img {
            width: 548px;
            margin-right: 47px;

            &:last-child {
              margin-right: 0;
            }
          }

          @media (max-width: 1024px) {
            .movie-description {
              display: none;
            }
          }
        }
      }
    }
  }

  .extras-container {
    margin-top: 50px;

    .extras {
      display: inline-flex;

      @media (max-width: 1024px) {
        display: flex;
        overflow: auto;
        align-items: flex-start;
      }

      .extra {
        background: rgba(203, 202, 206, 0.2);
        border-radius: 6px;
        padding: 20px 30px;
        margin-right: 49px;
        box-sizing: border-box;
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        @media (max-width: 1024px) {
          height: auto;
        }

        .tag {
          margin-right: 4px;

          &.age {
            width: 55px;
            height: 48px;
          }

          &.rate {
            width: 39px;
            height: 41px;
          }
        }

        h3 {
          display: inline-flex;
          align-items: center;
          margin: 0;
          opacity: 1;
        }

        p, table {
          margin: 0;
          @include sf-ui-text;
          font-size: 25px;
          line-height: 32px;
          letter-spacing: 0.010em;
        }

        table {
          td {
            padding: 0 8px;
            &:first-child {
              text-align: right;
            }
          }
        }

        @media (max-width: 1024px) {
          h3, p, table {
            margin: 10px 0 !important;
          }
        }


        &.short {
          width: 250px;
        }

        &.long {
          width: 548px;
          padding-left: 88px;

          h3 {
            font-size: 38px;
          }

          &:before {
            content: '';
            position: absolute;
            top: 25px;
            left: 25px;
            background-size: contain;
          }

          &.review-1:before {
            width: 39px;
            height: 38px;
            background-image: url(../assets/avatar-review-1.png);
          }

          &.review-2:before {
            width: 39px;
            height: 41px;
            background-image: url(../assets/avatar-review-2.png);
          }
        }
      }
    }
  }

  .casts-container {
    margin-top: 50px;
    margin-bottom: 20px;

    .casts {
      display: flex;

      @media (max-width: 1024px) {
        overflow: auto;
      }

      .cast {
        display: flex;
        flex-direction: column;
        margin-right: 47px;
        cursor: pointer;


        img {
          width: 250px;
          height: 250px;
          border-radius: 50%;
          transition: transform 0.3s;
        }

        .cast-name, .cast-role {
          text-align: center;
          transition: transform 0.3s, opacity 0.3s;
        }

        .cast-name {
          margin: 4px 0 0 0;
          text-align: center;
          @include sf-ui-text;
          font-size: 29px;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: -0.032em;
          opacity: 0.5;
          color: #ffffff;
        }

        .cast-role {
          margin: 4px 0 0 0;
          text-align: center;
          @include sf-ui-text;
          font-size: 23px;
          font-weight: 600;
          letter-spacing: -0.022em;
          opacity: 0.3;
          text-transform: uppercase;
        }

        @media (min-width: 1024px) {
          &:hover {
            img {
              transform: scale(1.208);
              transform-origin: 50% 50%;
              box-shadow: 0 30px 40px 2px rgba(0,0,0,0.2);
            }

            .cast-name, .cast-role {
              transform: translateY(26px);
              opacity: 1;
              text-shadow: 0 7px 7px rgba(0,0,0,0.2);
            }
          }
        }
      }
    }
  }

  .separator {
    margin: 60px 0;
    width: 100%;
    height: 1px;
    background: #ffffff;
    opacity: 0.1;
  }

  .details {
    display: flex;

    .column {
      width: 33.333%;

      h4 {
        padding-left: 154px;
        opacity: 1;
        margin-bottom: 20px;
      }

      .text {
        @include sf-ui-text;
        font-size: 23px;
        font-weight: 500;
        letter-spacing: -0.022em;
        opacity: 0.4;
        margin-left: 38px;

        &.opacity-1 {
          opacity: 1;
        }
      }

      img {
        margin-left: 70px;
      }

      & > div {
        display: flex;
        padding-left: 14px;
      }
    }

    @media (max-width: 1000px){
      flex-direction: column;

      .column {
        width: 100%;
        text-align: center;

        & > div {
          & > span:first-child {
            display: none;
          }

          .text {
            margin: 0 auto;
          }
        }

        h4 {
          padding-left: 10px;
        }

        .tag {
          display: none;
        }

        .text {
          margin-left: 0;
        }
      }
    }
  }
}
