@import "../lib/fonts/style";
@import "assets";
@import "header";
@import "related";

html, body {
  padding: 0;
  margin: 0;
  background: #000000;
}

body {
  @include source-sans-pro;
  color: #ffffff;
}

.container {
  padding-left: 90px;
  padding-right: 90px;
  box-sizing: border-box;

  @media (max-width: 1000px){
    padding-left: 20px;
    padding-right: 20px;
  }
}

.movie-description {
  @include sf-ui-text;
  font-size: 29px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.032em;
}
