.tag {
  background: no-repeat;
  background-size: contain;
}
.tag.rate {
  width: 26px;
  height: 30px;
  background-image: url(../assets/tag-rate.png);
}
.tag.age {
  width: 270px;
  height: 234px;
  background-image: url(../assets/tag-age.png);
}
.tag.ad {
  width: 36px;
  height: 24px;
  background-image: url(../assets/tag-ad.png);
}
.tag.cc {
  width: 36px;
  height: 24px;
  background-image: url(../assets/tag-cc.png);
}
.tag.hd {
  width: 42px;
  height: 22px;
  background-image: url(../assets/tag-hd.png);
}
.tag.pg-13 {
  width: 70px;
  height: 22px;
  background-image: url(../assets/tag-pg-13.png);
}

.header-container {
  padding-top: 250px;
  padding-bottom: 65px;
  background: url(../assets/bg-header.png) top right no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .header-container {
    padding-top: 50px;
  }
}
.header-container .side-menu-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-right: 40px;
}
@media (max-width: 1024px) {
  .header-container .side-menu-container {
    display: none;
  }
}
.header-container .side-menu-container ul.menu {
  display: inline-block;
  margin: 0 0 60px 0;
  color: #ffffff;
  list-style: none;
}
.header-container .side-menu-container ul.menu li {
  text-align: right;
  line-height: 20px;
}
.header-container .side-menu-container ul.menu li:not(.header) {
  font-size: 20px;
  opacity: 0.35;
  margin-bottom: 15px;
  letter-spacing: -0.032em;
}
.header-container .side-menu-container ul.menu li:not(.header):last-child {
  margin-bottom: 0;
}
.header-container .side-menu-container ul.menu li.header {
  line-height: 23px;
  font-size: 23px;
  margin-bottom: 15px;
  letter-spacing: -0.022em;
}
.header-container .side-menu-container ul.menu:last-child {
  margin-bottom: 0;
}
.header-container .product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-container .product-details .meta-data {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: "SF UI Text";
  font-size: 25px;
  letter-spacing: 0.01em;
}
.header-container .product-details .meta-data .tag-container {
  display: flex;
  align-items: center;
  margin-right: 12px;
}
.header-container .product-details .meta-data .tag-container.more-spaces .tag {
  margin-right: 20px;
}
.header-container .product-details .meta-data .tag-container.more-spaces .tag:last-child {
  margin-right: 0;
}
.header-container .product-details .meta-data .tag-container:last-child {
  margin-right: 0;
}
.header-container .product-details .meta-data .tag {
  margin-right: 1px;
}
.header-container .product-details .meta-data .tag.rate {
  width: 26px;
  height: 30px;
}
.header-container .product-details .meta-data .tag.age {
  width: 29px;
  height: 26px;
}
.header-container .product-details .movie-description {
  max-width: 890px;
  margin: 44px 0 60px 0;
}
.header-container .product-details .product-options {
  display: flex;
  flex-wrap: wrap;
}
.header-container .product-details .product-options .option {
  margin: 0 12px;
}
.header-container .product-details .product-options .option .box {
  width: 142px;
  height: 80px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.35);
  transform-origin: 50% 100%;
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container .product-details .product-options .option .box.price {
  font-family: "SF UI Text";
  font-size: 31px;
  letter-spacing: -0.063em;
}
.header-container .product-details .product-options .option .box .icon {
  width: 68px;
  height: 50px;
}
.header-container .product-details .product-options .option .box .icon.tv {
  background-image: url(../assets/tv-icon.png);
}
.header-container .product-details .product-options .option .box .icon.plus {
  background-image: url(../assets/plus-icon.png);
}
.header-container .product-details .product-options .option .box .icon.dots {
  background-image: url(../assets/dots-icon.png);
}
.header-container .product-details .product-options .option .title {
  margin: 4px 0 0 0;
  text-align: center;
  font-family: "SF UI Text";
  font-size: 23px;
  font-weight: 500;
  letter-spacing: -0.022em;
  opacity: 0.35;
  transition: opacity 0.3s;
}
.header-container .product-details .product-options .option:hover {
  cursor: pointer;
}
.header-container .product-details .product-options .option:hover .box {
  transform: scale(1.1);
  background: white;
  color: rgba(0, 0, 0, 0.4);
}
.header-container .product-details .product-options .option:hover .box .icon {
  filter: invert(100%);
  opacity: 0.4;
}
.header-container .product-details .product-options .option:hover .title {
  opacity: 1;
}
@media (max-width: 1024px) {
  .header-container .product-details .meta-data, .header-container .product-details .product-options {
    justify-content: center;
  }
  .header-container .product-details .meta-data .tag-container {
    margin: 10px 0;
  }
  .header-container .product-details .product-options .option {
    margin-bottom: 10px;
  }
  .header-container .product-details .movie-description {
    text-align: center;
  }
}

.related-container {
  padding-top: 14px;
  padding-bottom: 70px;
  position: relative;
  z-index: 0;
}
.related-container:before, .related-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.related-container:before {
  background: rgba(124, 124, 124, 0.8) url(../assets/bg-related.jpg);
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
}
.related-container:after {
  z-index: -1;
  background: rgba(124, 124, 124, 0.32);
}
.related-container h5, .related-container h4, .related-container h3 {
  font-family: "Source Sans Pro";
  color: #ffffff;
  opacity: 0.4;
  margin: 12px 0;
}
.related-container h3 {
  font-size: 48px;
  line-height: 48px;
}
.related-container h4 {
  font-size: 38px;
  line-height: 66px;
  letter-spacing: 0.007em;
}
.related-container h5 {
  font-size: 29px;
  line-height: 36px;
  letter-spacing: -0.032em;
}
.related-container .films {
  display: flex;
}
@media (max-width: 1024px) {
  .related-container .films {
    overflow: auto;
  }
}
.related-container .films img {
  width: 148px;
  height: 222px;
  margin-right: 51px;
  position: relative;
}
.related-container .movies-container {
  margin-top: 50px;
}
.related-container .movies-container .movies {
  display: flex;
}
@media (max-width: 1024px) {
  .related-container .movies-container .movies {
    overflow: auto;
  }
}
.related-container .movies-container .movies .movie {
  display: flex;
  flex-direction: column;
}
.related-container .movies-container .movies .movie .movie-details {
  display: flex;
}
.related-container .movies-container .movies .movie .movie-details img {
  height: 308px;
}
.related-container .movies-container .movies .movie .movie-details .movie-description, .related-container .movies-container .movies .movie .movie-details img {
  width: 548px;
  margin-right: 47px;
}
.related-container .movies-container .movies .movie .movie-details .movie-description:last-child, .related-container .movies-container .movies .movie .movie-details img:last-child {
  margin-right: 0;
}
@media (max-width: 1024px) {
  .related-container .movies-container .movies .movie .movie-details .movie-description {
    display: none;
  }
}
.related-container .extras-container {
  margin-top: 50px;
}
.related-container .extras-container .extras {
  display: inline-flex;
}
@media (max-width: 1024px) {
  .related-container .extras-container .extras {
    display: flex;
    overflow: auto;
    align-items: flex-start;
  }
}
.related-container .extras-container .extras .extra {
  background: rgba(203, 202, 206, 0.2);
  border-radius: 6px;
  padding: 20px 30px;
  margin-right: 49px;
  box-sizing: border-box;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 1024px) {
  .related-container .extras-container .extras .extra {
    height: auto;
  }
}
.related-container .extras-container .extras .extra .tag {
  margin-right: 4px;
}
.related-container .extras-container .extras .extra .tag.age {
  width: 55px;
  height: 48px;
}
.related-container .extras-container .extras .extra .tag.rate {
  width: 39px;
  height: 41px;
}
.related-container .extras-container .extras .extra h3 {
  display: inline-flex;
  align-items: center;
  margin: 0;
  opacity: 1;
}
.related-container .extras-container .extras .extra p, .related-container .extras-container .extras .extra table {
  margin: 0;
  font-family: "SF UI Text";
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.01em;
}
.related-container .extras-container .extras .extra table td {
  padding: 0 8px;
}
.related-container .extras-container .extras .extra table td:first-child {
  text-align: right;
}
@media (max-width: 1024px) {
  .related-container .extras-container .extras .extra h3, .related-container .extras-container .extras .extra p, .related-container .extras-container .extras .extra table {
    margin: 10px 0 !important;
  }
}
.related-container .extras-container .extras .extra.short {
  width: 250px;
}
.related-container .extras-container .extras .extra.long {
  width: 548px;
  padding-left: 88px;
}
.related-container .extras-container .extras .extra.long h3 {
  font-size: 38px;
}
.related-container .extras-container .extras .extra.long:before {
  content: "";
  position: absolute;
  top: 25px;
  left: 25px;
  background-size: contain;
}
.related-container .extras-container .extras .extra.long.review-1:before {
  width: 39px;
  height: 38px;
  background-image: url(../assets/avatar-review-1.png);
}
.related-container .extras-container .extras .extra.long.review-2:before {
  width: 39px;
  height: 41px;
  background-image: url(../assets/avatar-review-2.png);
}
.related-container .casts-container {
  margin-top: 50px;
  margin-bottom: 20px;
}
.related-container .casts-container .casts {
  display: flex;
}
@media (max-width: 1024px) {
  .related-container .casts-container .casts {
    overflow: auto;
  }
}
.related-container .casts-container .casts .cast {
  display: flex;
  flex-direction: column;
  margin-right: 47px;
  cursor: pointer;
}
.related-container .casts-container .casts .cast img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transition: transform 0.3s;
}
.related-container .casts-container .casts .cast .cast-name, .related-container .casts-container .casts .cast .cast-role {
  text-align: center;
  transition: transform 0.3s, opacity 0.3s;
}
.related-container .casts-container .casts .cast .cast-name {
  margin: 4px 0 0 0;
  text-align: center;
  font-family: "SF UI Text";
  font-size: 29px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.032em;
  opacity: 0.5;
  color: #ffffff;
}
.related-container .casts-container .casts .cast .cast-role {
  margin: 4px 0 0 0;
  text-align: center;
  font-family: "SF UI Text";
  font-size: 23px;
  font-weight: 600;
  letter-spacing: -0.022em;
  opacity: 0.3;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .related-container .casts-container .casts .cast:hover img {
    transform: scale(1.208);
    transform-origin: 50% 50%;
    box-shadow: 0 30px 40px 2px rgba(0, 0, 0, 0.2);
  }
  .related-container .casts-container .casts .cast:hover .cast-name, .related-container .casts-container .casts .cast:hover .cast-role {
    transform: translateY(26px);
    opacity: 1;
    text-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
  }
}
.related-container .separator {
  margin: 60px 0;
  width: 100%;
  height: 1px;
  background: #ffffff;
  opacity: 0.1;
}
.related-container .details {
  display: flex;
}
.related-container .details .column {
  width: 33.333%;
}
.related-container .details .column h4 {
  padding-left: 154px;
  opacity: 1;
  margin-bottom: 20px;
}
.related-container .details .column .text {
  font-family: "SF UI Text";
  font-size: 23px;
  font-weight: 500;
  letter-spacing: -0.022em;
  opacity: 0.4;
  margin-left: 38px;
}
.related-container .details .column .text.opacity-1 {
  opacity: 1;
}
.related-container .details .column img {
  margin-left: 70px;
}
.related-container .details .column > div {
  display: flex;
  padding-left: 14px;
}
@media (max-width: 1000px) {
  .related-container .details {
    flex-direction: column;
  }
  .related-container .details .column {
    width: 100%;
    text-align: center;
  }
  .related-container .details .column > div > span:first-child {
    display: none;
  }
  .related-container .details .column > div .text {
    margin: 0 auto;
  }
  .related-container .details .column h4 {
    padding-left: 10px;
  }
  .related-container .details .column .tag {
    display: none;
  }
  .related-container .details .column .text {
    margin-left: 0;
  }
}

html, body {
  padding: 0;
  margin: 0;
  background: #000000;
}

body {
  font-family: "Source Sans Pro";
  color: #ffffff;
}

.container {
  padding-left: 90px;
  padding-right: 90px;
  box-sizing: border-box;
}
@media (max-width: 1000px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.movie-description {
  font-family: "SF UI Text";
  font-size: 29px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.032em;
}

/*# sourceMappingURL=style.css.map */
